#contact iframe
{
    width: 100%;
}
.travel_maindiv{
    border: 1px solid white;
}
.travel_maindiv img{
    width: 100%;
}
.travel_maindiv h5, .travel_maindiv p{
    margin: 20px;
}
.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.movie_head i{
    float: right;
}
.movietext span{
color: orange;
}
.book{
    margin-bottom: 20px;
}
